---
import Contactform from "@components/contactform.astro";
import Container from "@components/container.astro";
import Sectionhead from "@components/sectionhead.astro";
import Layout from "@layouts/Layout.astro";
import { Icon } from "astro-icon/components";
import PricingCard from "@components/pricing.astro";
import { prefixPath } from "@components/navbar/navbar.astro";

const pricing = [
  {
    name: "Desarrollo web",
    //price: "Free",
    //popular: false,
    features: [
      "Desarrollo a medida",
      "Adaptado a tus necesidades",
      "Diferencia de la competencia",
    //   "Astro Sub domain",
    //   "Basic Integrations",
    //   "Community Support",
    ],
    button: {
      text: "Inicia",
      link: "/",
    },
  },
  {
    name: "Marketing digital",
    // price: {
    //   monthly: "$19",
    //   annual: "$16",
    //   discount: "10%",
    //   original: "$24",
    // },
    //popular: true,
    features: [
      "Analisis de datos",
      "Embudo de ventas",
    //   "20 Custom domains",
    //   "Unlimited Collaborators",
    //   "Advanced Integrations",
    //   "Priority Support",
    ],
    button: {
      text: "Inicia",
      link: "#",
    },
  },
  {
    name: "Chatbots",
    //price: "Custom",
    popular: false,
    features: [
      "Maten informado a tus clientes",
      "Fideliza a los nuevos clientes",
      "Informa de promociones directamente",
      "Automatiza tareas recurrentes",
    //   "Dedicated Account Manager",
    //   "24/7 Phone Support",
    ],
    button: {
      text: "Contact us",
      link: `${prefixPath && prefixPath}/contact`,
    },
  },
//   {
//     name: "Enterprise",
//     price: "Custom",
//     popular: false,
//     features: [
//       "All Pro Features",
//       "Unlimited Custom domains",
//       "99.99% Uptime SLA",
//       "SAML & SSO Integration",
//       "Dedicated Account Manager",
//       "24/7 Phone Support",
//     ],
//     button: {
//       text: "Contact us",
//       link: "/contact",
//     },
//   },
];

---

<Layout title="Pricing">
    <Container>
      <Sectionhead>
        <Fragment slot="title">Nuestros servicios</Fragment>
        <Fragment slot="desc">
          Enfocados en atraer mas clientes a tu engocio
        </Fragment>
      </Sectionhead>
  
      <div class="grid md:grid-cols-3 gap-10 mx-auto max-w-screen-lg mt-12">
        {pricing.map((item) => <PricingCard plan={item} />)}
      </div>
    </Container>
  </Layout>
  