---
// @ts-ignore
import { Icon } from "astro-icon/components";
import type { languageList } from "i18n/ui";
import { useTranslations } from "i18n/utils";

const currentLang = Astro.currentLocale || "es";

const translateLabels = useTranslations(
  currentLang as keyof typeof languageList,
);

const features = [
  {
    title: translateLabels("feature.one.title"),
    description: translateLabels("feature.one.description"),
    icon: "bx:bxs-briefcase",
  },
  {
    title: translateLabels("feature.two.title"),
    description: translateLabels("feature.two.description"),
    icon: "bx:bxs-window-alt",
  },
  {
    title:translateLabels("feature.three.title"),
    description: translateLabels("feature.three.description")      ,
    icon: "bx:bxs-data",
  },
  // {
  //   title: "Broad Integration",
  //   description:
  //     "Astro supports TypeScript, Scoped CSS, CSS Modules, Sass, Tailwind, Markdown, MDX, and any other npm packages.",
  //   icon: "bx:bxs-bot",
  // },
  // {
  //   title: "SEO Enabled",
  //   description:
  //     "Automatic sitemaps, RSS feeds, pagination and collections take the pain out of SEO and syndication. It just works!",
  //   icon: "bx:bxs-file-find",
  // },
  // {
  //   title: "Community",
  //   description:
  //     "Astro is an open source project powered by hundreds of contributors making thousands of individual contributions.",
  //   icon: "bx:bxs-user",
  // },
];
---

<div class="mt-16 md:mt-0">
  <h2 class="text-4xl lg:text-5xl font-bold lg:tracking-tight">
    {translateLabels("feature.title")}
  </h2>
  <p class="text-lg mt-4 text-slate-600">
    {translateLabels("feature.description")}
  </p>
</div>

<div class="grid sm:grid-cols-2 md:grid-cols-3 mt-16 gap-16">
  {
    features.map((item) => (
      <div class="flex gap-4 items-start">
        <div class="mt-1 bg-black rounded-full  p-2 w-8 h-8 shrink-0">
          <Icon class="text-white" name={item.icon} />
        </div>
        <div>
          <h3 class="font-semibold text-lg">{item.title}</h3>{" "}
          <p class="text-slate-500 mt-2 leading-relaxed">{item.description}</p>
        </div>
      </div>
    ))
  }
</div>
