---
import type { languageList } from "i18n/ui";
import { useTranslations } from "i18n/utils";
import { getRelativeLocaleUrl } from "astro:i18n";

const currentLang = Astro.currentLocale || "es";

const translateLabels = useTranslations(
  currentLang as keyof typeof languageList,
);

---

<footer class="my-20">
  <p class="text-center text-sm text-slate-500">
    Copyright Â© {new Date().getFullYear()} DevtoolSystems.{translateLabels("footer.Copyright.text")}.
  </p>
  <!--
    Can we ask you a favor ðŸ™
    Please keep this backlink on your website if possible.
    or Purchase a commercial license from https://web3templates.com
  -->
  <p class="text-center text-xs text-slate-500 mt-1">
    {translateLabels("footer.Copyright.link.text")} <a
      href= {getRelativeLocaleUrl(currentLang)}
      target="_blank"
      rel="noopener"
      class="hover:underline">
      DevtoolSystems
    </a>
  </p>
</footer>
